.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}
.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}
.clients__list {
    display: flex;
    flex: wrap;
}