.footer-form {
    margin-left: auto;
    padding-top: 12px;
}

.footer-form-field {
    display: flex;
    align-items: center;
}

.footer-form-title {
    @extend %font;
    height: 16px;
    margin-bottom: 20px;
    color: $secondary-color;
}

.footer-form-field input {
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $secondary-color;
    cursor: pointer;

    &::placeholder {
        width: 47px;
        height: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus::placeholder {
        color: $secondary-color;
    }
}

.footer-form-btn {
    @extend %flex;
    @extend %button;
    width: 200px;
}

.footer-form-icon {
    margin-left: 10px;
    fill: $secondary-color;
}