.activity-cover {
    @extend %flex;
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.activity-text-cover {
    @extend %font;
    height: 16px;
    color: $secondary-color;
}