.hero {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
}

.hero-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-color;
}

.hero-btn {
    @extend %button;
    width: 216px;
    border: none;
    font-family: inherit;
    padding: 10px 31px;
}

.hero-text {
    margin-bottom: 30px;
}