.leisure {
    outline: solid 1px darkcyan;
}

.leisure__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: darkcyan;
}

.leisure__list {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-inline-start: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
}

.leisure__item {
    transition-property: transform;
    .leisure:hover & {
        transform: scale(1.5);
    }
    &:nth-child(1) {
        transition-duration: 500ms;
    }
    &:nth-child(2) {
        transition-duration: 1500ms;
    }
    &:nth-child(3) {
        transition-duration: 3000ms;
    }
}