.leisure {
    outline: solid 1px darkcyan;
}

.leisure__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: darkcyan;
}

.leisure__list {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-inline-start: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
}

.leisure__item {
    transition-property: transform;
    .leisure:hover & {
        transform: scale(1.12);
    }
    &:nth-child(1) {
        transition-duration: 500ms;
    }
    &:nth-child(2) {
        transition-duration: 1500ms;
    }
    &:nth-child(3) {
        transition-duration: 3000ms;
    }
}



.leisures {
    outline: solid 1px red;
}

.leisures__list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    gap: 50px;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.leisures__item {
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover {
        transform: scale(1.2);
    }
}



.leisure-three {
    outline: solid 1px blue;
}

.leisure-three__title {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: darkcyan;
}

.leisure-three__list {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 30px;
}

.leisure-three__item {
    transition-property: transform;
    transition-duration: 2000ms;
}

.leisure-three:hover .leisure-three__item:nth-child(1) {
    transform: translateX(50px);
}

.leisure-three:hover .leisure-three__item:nth-child(2) {
    transform: translateY(50px);
}

.leisure-three:hover .leisure-three__item:nth-child(3) {
    transform: translate(-50px, -60px);
}



.leisure-fourth {
    outline: solid 1px green;
}

.leisure__title {
    margin-block-start: 0;
}

.leisure-fourth {
    padding-bottom: 50px;
    opacity: 0;
}

.leisure-fourth__list {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 50px;
}

.leisure-fourth:hover {
    animation: appear 1000ms linear;
}

@keyframes appear {
    0% {opacity:0;}
    100% {opacity:1;}
}