.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $bg-color;
}

.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.team-list {
    display: flex;
    list-style: none;
}

.team-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $secondary-color;

    .team-list .team-item+ & {
        margin-left: 30px;
    }
}

.team-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.worker-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.worker-position {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
}

.worker-content {
    padding-top: 30px;
    padding-bottom: 30px;
}