.worker-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;

    &:hover, &:focus {
        background-color: $accent-color;
    }
}
.worker-soc-icon {
    fill: $fill-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: $secondary-color;
    }

    .worker-soc-link:hover &,
    .worker-soc-link:focus & {
        fill: $secondary-color;
    }
}

.worker-soc {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
}